<div id="menu">
  <div> <span class="glyphicon glyphicon-expand"></span> </div>
  <ul class="row nav nav-pills">
    <li><a href="/">Hot</a></li>
    <li><a href="/">New</a></li>
    <li><a href="/">Top</a></li>
    <li><a href="/">Featured</a></li>
  </ul>
</div>
