<nav class="navbar navbar-inverse" role="navigation" style="background-color:black;">
  <div class="container-fluid">
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="marsbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index.html">HackList</a>
    </div>
    <div class="collapse navbar-collapse" id="marsbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a> </li>
        <li><a href="#">API's</a> </li>
        <li><a href="#">Platforms</a> </li>
        <li><a href="#">Ideas</a> </li>
        <li><a href="#">Showcase</a> </li>
      </ul>
    </div>
  </div>
</nav>
